.mainTitle {
  text-align: center;
  font-size: 44px;
  line-height: 1.5;
  margin-bottom: 24px;
}
.mainTitle span {
  color: #3470ff;
  font-style: italic;
}

.heroSection {
  display: flex;
  gap: 24px;
}
.heroImg {
  width: 600px;
  border-radius: 24px;
}
.heroDescrBox {
  max-width: 500px;
}
.heroDescrBox h3 {
  font-size: 20px;
  margin-bottom: 8px;
}
.heroPageDrscr {
  font-size: 20px;
  line-height: 1.33;
  padding-bottom: 16px;
}
.heroDescrlist {
  font-size: 18px;
}
